<div class="container-fluid edit-note-container">
  <h2 class="header">Add Note</h2>

  <div class="form-group">
    <label for="noteTitle" class="form-label">Title</label>
    <input type="text" id="noteTitle" class="form-control" [(ngModel)]="note.title">
  </div>

  <div class="form-group">
    <label for="noteContent" class="form-label">Content</label>
    <textarea id="noteContent" class="form-control" rows="10" [(ngModel)]="note.content"></textarea>
  </div>

  <div class="form-group">
    <label for="noteCategory" class="form-label">Category</label>
    <input type="text" id="noteCategory" class="form-control" [(ngModel)]="note.category.name">
  </div>

  <div class="button-container">
    <button class="btn btn-outline-secondary rounded-circle" (click)="cancel()">
      <i class="bi bi-x"></i>
    </button>
    <button class="btn btn-outline-secondary rounded-circle" (click)="addNote()">
      <i class="bi bi-check"></i>
    </button>
  </div>
</div>
