.edit-note-container {
    padding: 10px;
    background-color: #fff;
  }
  
  .button-container {
    display: flex;           /* Align items horizontally */
    gap: 20px;              /* Space between buttons, adjust the value as needed */
    border-radius: 20px;
}

.button-container .btn {
  border-radius: 20px;
}