/* categories.component.css */
.categories-container {
    height: 100vh;
    background-color: #fff;
  }
  
  .header {
text-align: center;
margin-top: 30px;;

  }

  
 .btn.btn-outline-secondary{
     margin-left: 350px;

  }
  
  .category-card {
    background-color: #f9f9f9;
    border-radius: 8px;
  }
  
  .category-icon img {
    width: 40px;
    height: 40px;
  }
  
  
.backbutton {
  border-radius: 100px;
  text-align: center;
  position: fixed; /* Fixed positioning to stay at the bottom */
  bottom: 20px; /* Distance from the bottom of the viewport */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Adjust position to truly center the button */
}

  

  