/* categories.component.css */
.categories-container {
    height: 100vh;
    background-color: #fff;
  }
  
  .app-header {
    background-color: #f9f9f9;
    padding: 10px 20px;
    text-align: center;
    bottom:60px;
  }

  .btn.btn-outline-secondary{
     margin-left: 600px;

  }
  
  .category-card {
    background-color: #f9f9f9;
    border-radius: 8px;
  }
  
  .category-icon img {
    width: 40px;
    height: 40px;
  }
  

  

  