<div class="container-fluid categories-container">
  
    <h3 class="header">Categories</h3>

  
 
  <div class="d-flex justify-content-between align-items-center ">
    <h4 class="title">Categories List</h4>

    <button class="btn btn-outline-secondary" (click)="addCategory()">New</button>
  </div>
  <div class="row">
    <div class="col-6 col-md-3" *ngFor="let category of categories">
      <div class="category-card text-center p-3 mb-3">


        <h3 class="h6">{{ category.name }}</h3>
        <p class="mb-0">{{ category.notesCount }} Notes</p>
      </div>
    </div>
  </div>
  <div class="text-center mt-4">
    <p>You Have {{ categories.length }} Categories</p>
  </div>

  <button class="backbutton" [routerLink]="['/notes']"><i class="bi bi-card-checklist"></i></button>

</div>
