<div class="landing-page">
  <div>
    <img src="assets\images\aura.jpg" alt="Landing Page Image">
  </div>
    <div class="content">
      <h2>Connect Your Ideas Seamlessly!</h2>
      <h2>Let's Go!</h2>
      <h1>Start sharing your vision</h1>
      <p>Take your first step towards sharing your thoughts today!</p>
  
      <button class="log-in-button"  [routerLink]="'/login'">Log In</button>
      <button class="register-button" [routerLink]="'/register'">Register</button>
      
    </div>
  </div>
