<div class="login-screen">
    <div class="login-container">
      <h2>Log In</h2>
  
  
      <form>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" id="email" placeholder="Enter your email">
        </div>
  
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" id="password" placeholder="Enter your password">
          <span class="show-password">
            <i class="fa fa-eye"></i>
          </span>
        </div>
  
        <a href="#" class="forgot-password">Forgot Password?</a>
  
        <button type="submit" class="login-button">Log In</button>
      </form>
  
      <p>Don't have an account? <a href="#">Register</a></p>


      <div class="or-divider">
        <hr>
        <span>Or Log In using Google</span>
        <hr>
      </div>


      <button class="google-login-button" ><i class="bi bi-google"></i>
        Log In with Google
      </button>

    </div>
  </div>


  
